In [20]:
import warnings
warnings.filterwarnings('ignore')

In [21]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [22]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [23]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [24]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [25]:
df = pd.get_dummies(df, columns= ["pymnt_plan", "home_ownership", "verification_status", "hardship_flag", "debt_settlement_flag"])
df

,loan_amnt,int_rate,installment,annual_inc,issue_d,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,pymnt_plan_n,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,Mar-2019,low_risk,27.24,0.0,0.0,8.0,...,1,0,0,0,1,0,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,Mar-2019,low_risk,20.23,0.0,0.0,17.0,...,1,0,1,0,0,0,0,1,1,1
2,20000.0,0.2000,529.88,56000.0,Mar-2019,low_risk,24.26,0.0,0.0,8.0,...,1,0,1,0,0,0,0,1,1,1
3,10000.0,0.1640,353.55,92000.0,Mar-2019,low_risk,31.44,0.0,1.0,10.0,...,1,0,0,0,1,0,0,1,1,1
4,22000.0,0.1474,520.39,52000.0,Mar-2019,low_risk,18.76,0.0,1.0,14.0,...,1,0,1,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68812,10000.0,0.1502,346.76,26000.0,Jan-2019,low_risk,9.60,0.0,0.0,9.0,...,1,0,0,0,1,0,1,0,1,1
68813,12000.0,0.2727,368.37,63000.0,Jan-2019,low_risk,29.07,0.0,0.0,8.0,...,1,0,0,0,1,1,0,0,1,1
68814,5000.0,0.1992,185.62,52000.0,Jan-2019,low_risk,14.86,0.0,0.0,5.0,...,1,0,1,0,0,0,1,0,1,1
68815,40000.0,0.0646,1225.24,520000.0,Jan-2019,low_risk,9.96,0.0,1.0,21.0,...,1,0,1,0,0,0,0,1,1,1
68816,16000.0,0.1131,350.36,72000.0,Jan-2019,low_risk,7.02,2.0,0.0,12.0,...,1,0,1,0,0,0,0,1,1,1

In [26]:
# Create our features
X = df.drop("loan_status", axis=1)
X = pd.get_dummies(X)

# Create our target
y = df["loan_status"]

In [27]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,debt_settlement_flag_N,issue_d_Feb-2019,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,1.0,0.371696,0.451066,0.177238,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.0,0.483261,0.497603,0.381873,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,1.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,1.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.0,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [28]:
# Check the balance of our target values
df['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'low_risk': 51366, 'high_risk': 246})

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [30]:
from sklearn.preprocessing import StandardScaler
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [31]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=1) 
rf_model

RandomForestClassifier(random_state=1)

In [32]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [33]:
# Display the confusion matrix
y_pred = rf_model.predict(X_test_scaled)
confusion_matrix(y_test, y_pred)

array([[   36,    65],
       [    3, 17101]], dtype=int64)

In [34]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.678130122998268

In [35]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.92      0.36      1.00      0.51      0.60      0.33       101
   low_risk       1.00      1.00      0.36      1.00      0.60      0.38     17104

avg / total       1.00      1.00      0.36      1.00      0.60      0.38     17205

In [36]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.07321107513023295, 'total_pymnt_inv'),
 (0.06967285838578177, 'total_pymnt'),
 (0.06650302547834858, 'last_pymnt_amnt'),
 (0.0639801865225346, 'total_rec_int'),
 (0.051911740010608026, 'total_rec_prncp'),
 (0.02300900200983671, 'installment'),
 (0.021432380501308256, 'out_prncp_inv'),
 (0.019564626474858175, 'out_prncp'),
 (0.01801468872006348, 'dti'),
 (0.016390152084689587, 'max_bal_bc'),
 (0.01577517428389432, 'mo_sin_old_il_acct'),
 (0.015405133356673055, 'revol_bal'),
 (0.015061516644402513, 'mo_sin_old_rev_tl_op'),
 (0.014937262178273894, 'loan_amnt'),
 (0.014582495741778907, 'bc_open_to_buy'),
 (0.014424865680884769, 'total_bal_il'),
 (0.013770177873093013, 'total_bc_limit'),
 (0.01375814350772028, 'tot_hi_cred_lim'),
 (0.01348884541086911, 'avg_cur_bal'),
 (0.013315123407522706, 'annual_inc'),
 (0.01318109974226535, 'total_il_high_credit_limit'),
 (0.012951082418155877, 'tot_cur_bal'),
 (0.012720588900547716, 'total_rec_late_fee'),
 (0.012644384423567074, 'total_bal_ex_mort'),
 (0.012298077260423755, 'total_rev_hi_lim'),
 (0.01213499942255862, 'int_rate'),
 (0.012105257590955243, 'total_acc'),
 (0.01197918295242257, 'bc_util'),
 (0.01192463392278908, 'all_util'),
 (0.011661217975305479, 'il_util'),
 (0.011523290370449612, 'mths_since_rcnt_il'),
 (0.010183770405975859, 'num_il_tl'),
 (0.010056962112663272, 'issue_d_Mar-2019'),
 (0.010042140590980644, 'mths_since_recent_bc'),
 (0.010009042663361292, 'mo_sin_rcnt_rev_tl_op'),
 (0.009847292000820242, 'num_rev_accts'),
 (0.009660478024894554, 'mths_since_recent_inq'),
 (0.009032633435895398, 'num_bc_tl'),
 (0.009001979837215556, 'inq_last_12m'),
 (0.00891915343568226, 'mo_sin_rcnt_tl'),
 (0.008841107787545576, 'num_sats'),
 (0.008696285606566297, 'total_cu_tl'),
 (0.00814374598893766, 'acc_open_past_24mths'),
 (0.008077906316441346, 'pct_tl_nvr_dlq'),
 (0.007977833900721548, 'num_op_rev_tl'),
 (0.007969438114626106, 'num_actv_rev_tl'),
 (0.00761355257641267, 'open_acc'),
 (0.007586511013207207, 'num_actv_bc_tl'),
 (0.007216204733919682, 'num_tl_op_past_12m'),
 (0.007103042513972293, 'num_rev_tl_bal_gt_0'),
 (0.006934006783269621, 'open_il_24m'),
 (0.006880277928270353, 'open_rv_24m'),
 (0.006823589208916408, 'num_bc_sats'),
 (0.006674605870210215, 'open_acc_6m'),
 (0.006674448188422225, 'mort_acc'),
 (0.0064934604320578005, 'open_act_il'),
 (0.006487533452353078, 'inq_fi'),
 (0.006476725402909941, 'percent_bc_gt_75'),
 (0.006328636540479545, 'open_rv_12m'),
 (0.00583074741896699, 'issue_d_Jan-2019'),
 (0.005775098565554046, 'next_pymnt_d_Apr-2019'),
 (0.004918201670370912, 'open_il_12m'),
 (0.0047881361355671115, 'inq_last_6mths'),
 (0.004753745400319049, 'tot_coll_amt'),
 (0.004441200829197264, 'next_pymnt_d_May-2019'),
 (0.004171355429576685, 'issue_d_Feb-2019'),
 (0.004065241445232963, 'num_accts_ever_120_pd'),
 (0.003832021817581367, 'delinq_2yrs'),
 (0.003004266981262002, 'pub_rec'),
 (0.002472896243517235, 'application_type_Joint App'),
 (0.0023516013951404694, 'pub_rec_bankruptcies'),
 (0.0022017004715653137, 'verification_status_Not Verified'),
 (0.0020484026914706997, 'verification_status_Source Verified'),
 (0.0020249325297168087, 'verification_status_Verified'),
 (0.001970602505545545, 'home_ownership_RENT'),
 (0.0019557771398097216, 'num_tl_90g_dpd_24m'),
 (0.0018464592818559702, 'home_ownership_OWN'),
 (0.0017540224616879293, 'application_type_Individual'),
 (0.001612894203107087, 'home_ownership_MORTGAGE'),
 (0.0015137402600705252, 'collections_12_mths_ex_med'),
 (0.0012719119160666335, 'initial_list_status_w'),
 (0.0011575774323403518, 'initial_list_status_f'),
 (0.0009264947126384425, 'home_ownership_ANY'),
 (0.00022631781229524964, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [38]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)
eec.fit(X_train, y_train)

AttributeError: 'EasyEnsembleClassifier' object has no attribute 'n_features_in_'

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE